# --- Core ENV used by the server ---
LOG_LEVEL=INFO                                          # Log level. Default: INFO
SSHD_ENABLED=true                                       # Enable SSHD. Default: true
VNC_ENABLED=true                                        # Enable VNC. Default: true
VNC_PW=vncpassword                                      # VNC password. Default: vncpassword
VNC_VIEW_ONLY=false                                     # VNC view only. Default: false
VNC_COL_DEPTH=24                                        # VNC color depth. Default: 24
VNC_RESOLUTION=1280x1024                                # VNC resolution. Default: 1280x1024

# --- Authentication and Security ---
#ADMIN_DEFAULT_PASSWORD=admin                           # Admin password. Default: 'admin'
                                                        # Use this password if you whant diffrent initial admin user password
                                                        # Please note that this parameter work as recovery password and working togethere with config.json 'admin' password
ADMIN_BEARER_HACK=abc123                                # Static Bearer token for admin. Default: unset (empty)
                                                        # Use only on 'dev' environment, comment out in production 
SALT=default_insecure_pepper                            # Used for password hashing. Default: default_insecure_pepper
                                                        # recommended to use random string for production: 
                                                        # > openssl rand -base64 32
JWT_SECRET_KEY=default_insecure_secret_key              # JWT secret. Default: default_insecure_secret_key
                                                        # recommended to use random string for production: 
                                                        # > openssl rand -base64 64
JWT_ALGORITHM=HS256                                     # JWT algorithm. Default: HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30                      # JWT access token expiry (minutes). Default: 30

# --- Storage and Configuration ---
CONFIG_STORAGE_TYPE=files                               # Config storage type. Default: files
CONFIG_STORAGE_PATH=/app/server/data/config             # Path to config storage. Default: $APP_FOLDER/data/config

# --- MCP Tools Management ---
#TOOLS_WHITELIST=                                       # Comma-separated list of tools to whitelist. Default: unset (empty)
#TOOLS_BLACKLIST=                                       # Comma-separated list of tools to blacklist. Default: unset (empty)
SUBPROCESS_STREAM_LIMIT=5242880                         # Subprocess stream limit in bytes (default: 5MB)
PRIVATE_MCPSERVER_CLEANUP_INTERVAL=300                  # Idle private mcpServer cleanup interval (seconds). Default: 300
